{% block content %}
<h1>Вопросы</h1>
{% for item in news%}
<div class="col-md6 border rounded">
<p style="border:3px #00B344  double; width:175px;">

    <h2>{{item.title}}</h2>
    <div>

        {{item.content}}
    </div>

    <div>
        Автор - {{item.user.name}}, Дата написания - {{item.created_date}}
    </div>
    {% if current_user.is_authenticated and current_user == item.user %}
    <div>
        <a href="/news/{{ item.id }}" class="btn btn-warning">
            Изменить
        </a>
        <a href="/news_delete/{{ item.id }}" class="btn btn-danger">
            Удалить
        </a>
    </div>
    </p>
{% endif %}
</div>
{% endfor %}
{% endblock %}