{% block content %}
<h1>Вопросы</h1>
{% for item in news%}
<div class="col-md6 border rounded">
<p style="border:3px #00B344  double; width:175px;">

    <h2>{{item.title}}</h2>
    <div>

        {{item.content}}
    </div>

    <div>
        Автор - {{item.user.name}}, Дата написания - {{item.created_date}}
    </div>
    {% if current_user.is_authenticated and current_user == item.user %}
    <div>
        <a href="/question/{{ item.id }}" class="btn btn-warning">
            Изменить
        </a>
        <a href="/question_delete/{{ item.id }}" class="btn btn-danger">
            Удалить
        </a>
    </div>
    {% else %}
        <a class="btn btn-primary" data-bs-toggle="collapse" href="" role="button" aria-expanded="false" aria-controls="collapseExample">
            Помочь
        </a>
    <div>

    </div>
    </p>
{% endif %}
</div>
{% endfor %}
{% endblock %}