
    <h1>Авторизация</h1>
    <form action="" method="post">
        <input id="csrf_token" name="csrf_token" type="hidden" value="IjZjODM4ZjhiZTBhOGYxZjk5ZWVmMDYyMTgwNTNhMDE5NzQyN2UzZGEi.YlGUTQ.Kk5E35hIbQQYa5Qtk0aQOfEVzUU">
        <p>
            <label for="email">Почта</label><br>
            <input class="form-control" id="email" name="email" required type="email" value=""><br>

        </p>
        <p>
            <label for="password">Пароль</label><br>
            <input class="form-control" id="password" name="password" required type="password" value=""><br>

        </p>
        <p><input id="remember_me" name="remember_me" type="checkbox" value="y"> <label for="remember_me">Запомнить меня</label></p>
        <p><input class="btn btn-primary" id="submit" name="submit" type="submit" value="Войти"></p>
        <div></div>
    </form>
