<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
            <title>Продолжение твоего начала</title>
<link href="https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Bungee+Shade&family=Caveat:wght@400;700&family=Open+Sans:wght@300&family=Rubik+Puddles&display=swap" rel="stylesheet">		<style>
		pp {
            font-size: 70px;
	        padding-top: 5px;
			font-family: 'Caveat', cursive;
		}
		ppp {
            font-size: 40px;
	        padding-top: 10px;
	        padding-bottom: 10px
		}
		pppp {
            font-size: 20px;
	        padding-top: 10px;
	        padding-bottom: 10px
		}

        body {
  background: #C6D8FF;
}
        header{
            width: 100%;
            background: #E7ECFF;
            height: 100px;
        }
</style>
</head>
<body>
<header>
    <center><pp>Авторизация</pp></center></header>
    <form action="" method="post">
        <center>{{ form.hidden_tag() }}</center>
        {% block content %}
<!--        <p><input class="btn btn-primary" id="submit" name="submit" type="submit" value="Войти"></p>-->

        <center><ppp>
            {{ form.email.label }}<br>
            {{ form.email(class="form-control", type="email") }}<br>
            {% for error in form.email.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </ppp></center>
        <center><ppp>
            {{ form.password.label }}<br>
            {{ form.password(class="form-control", type="password") }}<br>
            {% for error in form.password.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </ppp></center>
        <center>
            {{ form.remember_me() }} {{ form.remember_me.label }}<br>
            {{ form.submit(type="submit", class="btn btn-primary") }}<br>
            <div>{{ message }}</div>
        </center>

    </form>
{% endblock %}
</body>
</html>
