<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создание теста</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создание теста</title>
</head>
<body>
{% block content %}
<form action="#" method="post">
	<p>Вопрос №1</p>
	<p><input type="text" name="one" /></p>

	<p>Варианты ответа:</p>
	<input type="radio" id="r11" name="one"><input type="text" name="one"/>
	<input type="radio" id="r12" name="one"><input type="text" name="one"/>
	<input type="radio" id="r13" name="one"><input type="text" name="one"/><br>

	<p>Вопрос №2</p>
	<p><input type="text" name="two" /></p>

	<p>Варианты ответа:</p>
	<input type="radio" id="r21" name="two"><input type="text" name="two"/>
	<input type="radio" id="r22" name="two"><input type="text" name="two"/>
	<input type="radio" id="r23" name="two"><input type="text" name="two"/><br>

	<p>Вопрос №3</p>
	<p><input type="text" name="three" /></p>

	<p>Варианты ответа:</p>
	<input type="radio" id="r31" name="three"><input type="text" name="three"/>
	<input type="radio" id="r32" name="three"><input type="text" name="three"/>
	<input type="radio" id="r33" name="three"><input type="text" name="three"/>

    <p>Вопрос №4</p>
	<p><input type="text" name="four" /></p>

	<p>Варианты ответа:</p>
	<input type="radio" id="r41" name="four"><input type="text" name="four"/>
	<input type="radio" id="r42" name="four"><input type="text" name="four"/>
	<input type="radio" id="r43" name="four"><input type="text" name="four"/>

    <p>Вопрос №5</p>
	<p><input type="text" name="five" /></p>

	<p>Варианты ответа:</p>
	<input type="radio" id="r51" name="five"><input type="text" name="five"/>
	<input type="radio" id="r52" name="five"><input type="text" name="five"/>
	<input type="radio" id="r53" name="five"><input type="text" name="five"/>

    <p>Вопрос №6</p>
	<p><input type="text" name="six" /></p>

	<p>Варианты ответа:</p>
	<input type="radio" id="r61" name="six"><input type="text" name="six"/>
	<input type="radio" id="r62" name="six"><input type="text" name="six"/>
	<input type="radio" id="r63" name="six"><input type="text" name="six"/>

    <p>Вопрос №7</p>
	<p><input type="text" name="seven" /></p>

	<p>Варианты ответа:</p>
	<input type="radio" id="r71" name="seven"><input type="text" name="seven"/>
	<input type="radio" id="r72" name="seven"><input type="text" name="seven"/>
	<input type="radio" id="r73" name="seven"><input type="text" name="seven"/>

    <p>Вопрос №8</p>
	<p><input type="text" name="eight" /></p>

	<p>Варианты ответа:</p>
	<input type="radio" id="r81" name="eight"><input type="text" name="eight"/>
	<input type="radio" id="r82" name="eight"><input type="text" name="eight"/>
	<input type="radio" id="r83" name="eight"><input type="text" name="eight"/>

    <p>Вопрос №9</p>
	<p><input type="text" name="nine" /></p>

	<p>Варианты ответа:</p>
	<input type="radio" id="r91" name="nine"><input type="text" name="nine"/>
	<input type="radio" id="r92" name="nine"><input type="text" name="nine"/>
	<input type="radio" id="r93" name="nine"><input type="text" name="nine"/>

    <p>Вопрос №10</p>
	<p><input type="text" name="ten" /></p>

	<p>Варианты ответа:</p>
	<input type="radio" id="r101" name="ten"><input type="text" name="ten"/>
	<input type="radio" id="r102" name="ten"><input type="text" name="ten"/>
	<input type="radio" id="r103" name="ten"><input type="text" name="ten"/>
	<p><input type="submit" value="submit"/></p>

</form>
<p style="border:3px #00B344  double; width:175px;">
текст текст текст текст</p>
{% endblock %}
</body>
</html>
